{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    'template-slider color-custom style-simple layout-full-width nice-scroll-on mobile-tb-left button-stroke no-content-padding header-stack header-center minimalist-header-no sticky-header sticky-white ab-show subheader-both-center menuo-no-borders footer-sliding footer-copy-center',
    
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    
        <!-- JS -->
    <script src="themes/coceptive/js/jquery-2.1.4.min.js"></script>

    <script src="themes/coceptive/js/mfn.menu.js"></script>
    <script src="themes/coceptive/js/jquery.plugins.js"></script>
    <script src="themes/coceptive/js/jquery.jplayer.min.js"></script>
    <script src="themes/coceptive/js/animations/animations.js"></script>
    <script src="themes/coceptive/js/translate3d.js"></script>
    <script src="themes/coceptive/js/scripts.js"></script>

    <script src="themes/coceptive/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="themes/coceptive/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="themes/coceptive/plugins/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
    <script src="themes/coceptive/plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="themes/coceptive/plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="themes/coceptive/plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="themes/coceptive/plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="themes/coceptive/plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="themes/coceptive/plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="themes/coceptive/plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

    <!-- WOWSlider -->

    <script type="text/javascript" src="themes/coceptive/plugins/wow-slider/scripts/wowslider.js"></script>
    <script type="text/javascript" src="themes/coceptive/plugins/wow-slider/scripts/script-fly.js"></script> <!-- change WOWSlider effect here -->

    <script>
        var tpj = jQuery;
        var revapi1;
        tpj(document).ready(function() {
            if (tpj("#rev_slider_1_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_1_1");
            } else {
                revapi1 = tpj("#rev_slider_1_1").show().revolution({
                    sliderType: "hero",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {},
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: 1080,
                    gridheight: 700,
                    lazyType: "none",
                    shadow: 0,
                    spinner: "spinner3",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        disableFocusListener: false,
                    }
                });
            }
        });
        /*]]>*/
    </script>

    <script id="mfn-dnmc-retina-js">
        jQuery(window).load(function() {
            var retina = window.devicePixelRatio > 1 ? true : false;
            if (retina) {
                var retinaEl = jQuery("#logo img.logo-main");
                var retinaLogoW = retinaEl.width();
                var retinaLogoH = retinaEl.height();
                retinaEl.attr("src", "themes/coceptive/images/logo-retina.png").width(retinaLogoW).height(retinaLogoH);
                var stickyEl = jQuery("#logo img.logo-sticky");
                var stickyLogoW = stickyEl.width();
                var stickyLogoH = stickyEl.height();
                stickyEl.attr("src", "themes/coceptive/images/logo-retina.png").width(stickyLogoW).height(stickyLogoH);
                var mobileEl = jQuery("#logo img.logo-mobile");
                var mobileLogoW = mobileEl.width();
                var mobileLogoH = mobileEl.height();
                mobileEl.attr("src", "themes/coceptive/images/logo-retina.png").width(mobileLogoW).height(mobileLogoH);
            }
        });
    </script>

  </body>
</html>
