{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the Navigation region.
 * - page.page_title: Used by Current page Title.
 * - page.banner: Items for the banner region.
 * - page.highlighted: Items for the highlighted top  region.
 * - page.content_top: The main content top of the current page.
 * - page.help: Item for the help region.
 * - page.breadcrumb: Item for the Breadcrumb region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.content_bottom: Items for the bottom in content region.
 * - page.footer_top: Items for the footer top region.
 * - page.footer_first: Items for the footer first region.
 * - page.footer_second: Items for the footer Second region.
 * - page.footer_third: Items for the footer third region.
 * - page.footer_bottom: Items for the footer bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

    <div id="Wrapper">
        <div id="Header_wrapper" class="bg-parallax" data-enllax-ratio="0.3">
            <header id="Header">
                <div id="Action_bar">
                    <div class="container">
                        <div class="column one">
                            <nav id="social-menu" class="menu-secondary-menu-container">
                                {% if page.header_top %}
																	{{ page.header_top }}
																{% endif %}
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="header_placeholder"></div>
                <div id="Top_bar">
                    <div class="container">
                        <div class="column one">
                            <div class="top_bar_left clearfix">
                                <div class="logo">
                                    <a id="logo" href="index.html" title="Santos Burbano de Lara">
                                    <img class="logo-main scale-with-grid" src="themes/coceptive/images/logo.png" alt="Santos Burbano de Lara Abogados" />
                                    <img class="logo-sticky scale-with-grid" src="themes/coceptive/images/logo.png" alt="Santos Burbano de Lara Abogados" />
                                    <img class="logo-mobile scale-with-grid" src="themes/coceptive/images/logo.png" alt="Santos Burbano de Lara Abogados" />
                                    </a>
                                </div>
                                <div class="menu_wrapper">
																		{% if page.header_bottom %}
																			{{ page.header_bottom }}
																		{% endif %}
                                    <a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>
                                </div>
                                <div class="secondary_menu_wrapper"></div>
                                <div class="banner_wrapper"></div>
                                <div class="search_wrapper">
                                    <form method="get" id="searchform" action="#">
                                        <i class="icon_search icon-search"></i><a href="#" class="icon_close"><i class="icon-cancel"></i></a>
                                        <input type="text" class="field" name="s" id="s" placeholder="Enter your search" />
                                        <input type="submit" class="submit" value="" style="display:none;" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mfn-main-slider" id="mfn-rev-slider">
                    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
                            <ul id="Landing">
                                <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-delay="10800" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <img src="themes/coceptive/images/home/landing.jpg" alt="" title="Santos Burbano de Lara Abogados" width="1920" height="700" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <div class="tp-caption mfnrs_Santos Burbano de Lara Abogados_medium_light   tp-resizeme" id="slide-1-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="-180" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1100;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="800" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">
                                        <h3>Bienvenido</h3>
                                        <h2>Welcome</h2>
                                    </div>
                                </li>
                            </ul>
                            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                        </div>

                    </div>
                </div>
            </header>
        </div>
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                        <div class="section mcb-section" style="padding-top:80px; padding-bottom:40px;" data-parallax="3d">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one-second  valign-top clearfix st" style="padding-top: 70px;">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_image ">
                                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                                <div class="image_wrapper"><img class="scale-with-grid" src="themes/coceptive/images/home/la-firma.png" alt="home_Santos Burbano de Lara Abogados_pic1" width="780" height="425" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap one-second  valign-top clearfix" style="padding:70px 4% 0 30px; background-image:url(themes/coceptive/images/home/bg-la-firma.png); background-repeat:no-repeat; background-position:left top;">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_column  column-margin-20px">
                                            <div class="column_attr clearfix">
                                                <h2>30 años al servicio de nuestros clientes</h2>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_column ">
                                            <div class="column_attr clearfix" style=" padding:0 0 0 30px;">
                                                <p>
                                                    Somos una firma boutique fundada en 1988. Nos especializamos en la resolución de controversias y en el Derecho de la competencia, tributario y laboral. Enfocamos  nuestra práctica en la asesoría a clientes corporativos domésticos y extranjeros.

                                                </p>
                                                <p>
                                                    Contamos con un equipo de profesionales altamente experimentados y de reconocido prestigio. 

                                                </p>
                                                <hr class="no_line" style="margin: 0 auto 30px;" />
                                                <a class="button  button_size_2 button_theme button_js" href="firma.html"><span class="button_label">Quiénes somos</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mfn-main-slider" >
                
                <!-- WOWSlider -->
                <div id="wowslider-container1" class="fullscreen-wow">
                    <div class="ws_images">
                        <ul>
                            <li><img src="themes/coceptive/images/home/practica/tributario.jpg" alt="Derecho Tributario" title="Planificacion Tributaria e Impuestos" id="wows1_0"/></li>
                            <li><img src="themes/coceptive/images/home/practica/competencia.jpg" alt="pic" title="pic" id="wows1_1"/></li>
                            <li><img src="themes/coceptive/images/home/practica/arbitraje.jpg" alt="pic" title="pic" id="wows1_2"/></li>
                            <li><img src="themes/coceptive/images/home/practica/energia.jpg" alt="pic" title="pic" id="wows1_3"/></li>
                            <li><img src="themes/coceptive/images/home/practica/corporativo.jpg" alt="pic" title="pic" id="wows1_4"/></li>
                        </ul>
                    </div>
                
                    <!-- uncomment this section to use bullets
                    <div class="ws_bullets">
                        <div>
                            <a href="#"><span><img src="themes/coceptive/images/wow-slider/tooltips/1.jpg" alt="1"/>1</span></a>
                            <a href="#"><span><img src="themes/coceptive/images/wow-slider/tooltips/2.jpg" alt="2"/>2</span></a>
                            <a href="#"><span><img src="themes/coceptive/images/wow-slider/tooltips/3.jpg" alt="3"/>3</span></a>
                            <a href="#"><span><img src="themes/coceptive/images/wow-slider/tooltips/4.jpg" alt="4"/>4</span></a>
                            <a href="#"><span><img src="themes/coceptive/images/wow-slider/tooltips/5.jpg" alt="5"/>5</span></a>
                        </div>
                    </div>  -->
                    
                    <!-- uncomment this section to use thumbs -->
                    <div class="ws_thumbs">
                        <div>
                            <a href="#"><img src="themes/coceptive/images/home/practica/tributario.jpg" alt="1" /></a>
                            <a href="#"><img src="themes/coceptive/images/home/practica/competencia.jpg" alt="2" /></a>
                            <a href="#"><img src="themes/coceptive/images/home/practica/arbitraje.jpg" alt="3" /></a>
                            <a href="#"><img src="themes/coceptive/images/home/practica/energia.jpg" alt="4" /></a>
                            <a href="#"><img src="themes/coceptive/images/home/practica/corporativo.jpg" alt="5" /></a>
                        </div>
                    </div>
                
                </div>  
                
                <!-- /WOWSlider -->
    
    
            </div>
                        <div class="section mcb-section" style="padding-top:80px; padding-bottom:40px;">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one-third  valign-top clearfix" style="padding:70px 2% 0 30px; background-image:url(themes/coceptive/images/home/bg-la-firma.png); background-repeat:no-repeat; background-position:left top;">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_column  column-margin-20px">
                                            <div class="column_attr clearfix">
                                                <h2>Equipo</h2>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_column  column-margin-20px">
                                            <div class="column_attr clearfix" style=" padding:0 0 0 30px;">
                                                <p>
                                                    Somos un equipo de profesionales altamente experimentados. Nos diferenciamos por la calidad de nuestro servicio, enfoque pragmático y gestión orientada hacia la obtención de resultados.
                                                </p>
                                                <p>
                                                    Nos diferenciamos por la calidad de nuestro servicio, enfoque pragmático y gestión orientada hacia la obtención de resultados. 

                                                </p>
                                                <hr class="no_line" style="margin: 0 auto 30px;" />
                                                <a class="button  button_size_2 button_theme button_js" href="equipo.html"><span class="button_label">Equipo</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap two-third  valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_hover_box ">
                                            <div class="hover_box">
                                                    <div class="hover_box_wrapper"><img class="visible_photo scale-with-grid" src="themes/coceptive/images/home/el-equipo.jpg" alt="Los abogados" width="780" height="485" /><img class="hidden_photo scale-with-grid" src="images/home/el-equipo.jpg" alt="Los Abogados" width="780" height="485" />
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap divider  valign-top clearfix">
                                    <div class="mcb-wrap-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="Footer" class="clearfix">
            <div class="widgets_wrapper" style="padding:40px 0;">
                <div class="container">
                    <div class="column one-fourth">
                        <aside class="widget widget_text">
                            <div class="textwidget">
                                <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                    <div class="image_wrapper"><img class="scale-with-grid" src="themes/coceptive/images/logo-blanco.png" alt="" width="250" height="30" />
                                    </div>
                                </div>
                                <hr class="no_line" style="margin: 0 auto 20px;" />
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget widget_text" style="padding-left: 65px">
                            <h4>La firma</h4>
                            <div class="textwidget">
                                <ul style="line-height: 32px;">
                                    <li>
                                        <i class="icon-right-circled" style="color: #76777A;"></i><a href="firma.html">Quiénes somos</a>
                                    </li>
                                    <li>
                                        <i class="icon-right-circled" style="color: #76777A;"></i><a href="practica.html">Áreas de práctica</a>
                                    </li>
                                    <li>
                                        <i class="icon-right-circled" style="color: #76777A;"></i><a href="equipo.html">Equipo</a>
                                    </li>
                                    <li>
                                        <i class="icon-right-circled" style="color: #76777A;"></i><a href="contacto.html">Contacto</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget widget_text">
                            <h4>Áreas de práctica</h4>
                            <div class="textwidget">
                                <ul style="line-height: 32px;">
                                    <li>
                                        <i class="icon-right-circled" style="color: #76777A;"></i><a href="practica.html#tributario">Planificación tributaria</a>
                                    </li>
                                    <li>
                                        <i class="icon-right-circled" style="color: #76777A;"></i><a href="practica.html#competencia">Derecho de competencia</a>
                                    </li>
                                    <li>
                                        <i class="icon-right-circled" style="color: #76777A;"></i><a href="practica.html#arbitraje">Resolución de controversias</a>
                                    </li>
                                    <li>
                                        <i class="icon-right-circled" style="color: #76777A;"></i><a href="practica.html#energia">Energía</a>
                                    </li>
                                    <li>
                                        <i class="icon-right-circled" style="color: #76777A;"></i><a href="practica.html#corporativo">Derecho corporativo</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget widget_text">
                            <h4>Los abogados</h4>
                            <div class="textwidget">
                                <ul style="line-height: 32px;">
                                    <li>
                                        <i class="icon-right-circled" style="color: #76777A;"></i><a href="oswaldo-santos-b.html">Oswaldo Santos Burbano de Lara</a>
                                    </li>
                                    <li>
                                        <i class="icon-right-circled" style="color: #76777A;"></i><a href="oswaldo-santos-d.html">Oswaldo Santos Dávalos</a>
                                    </li>
                                    <li>
                                        <i class="icon-right-circled" style="color: #76777A;"></i><a href="fernando-santos-a.html">Fernando Santos Alvite</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="footer_copy">
                <div class="container">
                    <div class="column one">
                        <a id="back_to_top" class="button button_left button_js" href="#"><span class="button_icon"><i class="icon-up-open-big"></i></span></a>
                        <div class="copyright">
                            &copy; 2017 Santos Burbano de Lara. Desarrollado por: <a target="_blank" rel="nofollow" href="http://gotomarket.ec">Go to Market</a>
                        </div>
                        <ul class="social"></ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>


